.responsive-grid {
	border: 1px solid black;
	background-color: rgb(194, 221, 174);
	display: grid;
	grid-gap: 0.3em;
	margin: 2em 0;

	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
.responsive-grid > * {
	border: 1px solid black;
	background-color: rgb(131, 165, 105);
	padding: 0.5em 0;
	text-align: center;
}

@media (max-width: 40rem) and (min-width: 30rem) {
	body { font-size: 125%; }

	.responsive-grid > * {
		background-color: rgb(215, 232, 63);
	}
}

@media (max-width: 30rem) {
	body { font-size: 150%; }

	.responsive-grid > * {
		background-color: rgb(195, 159, 92);
	}
}


.list {
	display: flex;
	flex-direction: column;
}
.list > * {
	text-align: center;
	padding: 0.3em 2em;
	border: 1px solid black;
	background-color: rgb(120, 120, 192);
	margin: 0.3em;
	/* width: 5em; */
}
@media (min-width: 30rem) {
	.list {
		flex-direction: row;
		flex-wrap: wrap;
	}
}


.flex-row {
	display: flex;
	border: 1px solid black;
	background-color: rgb(171, 231, 207);
	padding: 2em;
}
.container {
	border: 1px solid black;
	background-color: rgb(43, 144, 127);
	flex: 1 0 0em;

	/* Skapa en container med namnet "exempel" */
	container: exempel / inline-size;
}
.container > p {
	padding: 1em;
	margin: 0;
}

@container (width > 18rem) {
	p {
		background-color: rgb(55, 111, 188);
	}
}
